body {
  background: #f8f8f8;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.container-wrap {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.display-score {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: 6px 12px;
  background: #03a5f6;
  color: #f8f8f8;
  transition: background 1s;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background: #4ac0fb;
}

.scores {
  border: 1px solid #1a1a1a;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 5px 10px;
}

.scores > ul:nth-child(even) {
  background: #e0e0e0;
}

.add-score {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

form.add-score {
  width: 100%;
  display: block;
}

form input {
  width: 99%;
  height: 30px;
  margin: 5px 0;
}

.sub-btn {
  float: right;
  width: 60px;
  background: #03a5f6;
  color: #f8f8f8;
  transition: background 1s;
  border: none;
  border-radius: 3px;
}

.sub-btn:hover {
  background: #4ac0fb;
}

@media (min-width: 768px) {
  .container-wrap {
    display: flex;
    gap: 50px;
  }
  
  .display-score {
    width: 50%;
  }
  
  .add-score {
    width: 50%;
  }
}